body {
    margin: 0;

    font-family: 'Arial', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    & a {
        text-decoration: none;

        color: inherit;
    }
}

#root {
    overflow: hidden;

    width: 100%;
    height: 100dvh;
}
