body{margin:0;font-family:"Arial",sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}body a{text-decoration:none;color:inherit}#root{overflow:hidden;width:100%;height:100dvh}
.a2d72a142c545f5266d5{width:100%;height:100%}
